@model NewZealand_Courier.Models.CourierDeliver

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CourierDeliver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeliveryPerson_Name" class="control-label"></label>
                <input asp-for="DeliveryPerson_Name" class="form-control" />
                <span asp-validation-for="DeliveryPerson_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPerson_Address" class="control-label"></label>
                <input asp-for="DeliveryPerson_Address" class="form-control" />
                <span asp-validation-for="DeliveryPerson_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPerson_Contact" class="control-label"></label>
                <input asp-for="DeliveryPerson_Contact" class="form-control" />
                <span asp-validation-for="DeliveryPerson_Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPerson_EmailId" class="control-label"></label>
                <input asp-for="DeliveryPerson_EmailId" class="form-control" />
                <span asp-validation-for="DeliveryPerson_EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
