@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h3>Privacy Statement</h3>
    Our privacy commitment
    We understand that privacy is important to you – it is to us too. That’s why we respect your personal information and are committed to protecting it when providing products and services to you.

    This policy will explain:<br />

    What personal information we collect<br />
    Why we collect your personal information<br />
    How we use your personal information<br />
    When we can share your personal information<br />
    Why we can share your personal information<br />
    How we protect your personal information<br />
    How you can manage or access your personal information
</p>

